<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/style.css}">
	
	<script>
	    function toggleEditMode() {
	        const inputs = document.querySelectorAll(".editable");

	        const isReadOnly = inputs[0].hasAttribute("readonly");

	        inputs.forEach(input => {
	            if (isReadOnly) {
	                input.removeAttribute("readonly");
	                input.classList.remove("readonly");
	            } else {
	                input.setAttribute("readonly", true);
	                input.classList.add("readonly");
	            }
	        });

	        document.getElementById("saveBtn").style.display = isReadOnly ? "block" : "none";
	        document.getElementById("editBtn").style.display = isReadOnly ? "none" : "block";
	    }
	</script>
</head>
<body>
	<header th:insert="~{navbar :: navbar}"></header>
	
	<div class="profil-info">
	    <form th:action="@{/profil}" th:object="${user}" method="post">
	        <div class="profil-item">
	            <label class="label">Username</label>
	            <input type="text" th:field="*{username}" class="editable readonly" required readonly>
	        </div>
	            
	        <div class="profil-item">
	            <label class="label">Mail</label>
	            <input type="email" th:field="*{email}" class="editable readonly" required readonly>
	        </div>
	            
	        <div class="profil-item">
	            <label class="label">Mot de passe</label>
	            <input type="password" th:field="*{password}" class="editable readonly" readonly>
	        </div>
	        
	        <div>
	            <button class="button" type="button" id="editBtn" onclick="toggleEditMode()">Modifier</button>
	            <button class="button" type="submit" id="saveBtn" style="display: none;">Enregistrer</button>
	        </div>
	    </form>
		<label class="error" th:object="${error}" th:text="${error}"></label>
	</div>
</body>
</html>